<!DOCTYPE html>

<html>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="89868546616-ngrj3hn43gcvp3p9b6ubcgj46nmmphct.apps.googleusercontent.com">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>  

<head>
    <link rel="shortcut icon" href="#" />
    <title>Aplicatie Web de E-learning</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="app.css">
</head>

<body data-spy="scroll" data-target="#mynavbar" >
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="mynavbar">
        <a class="navbar-brand" href="#">Aplicatie de e-learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto smooth-scroll" id="menu">

                <li class="nav-item ">
                    <a class="nav-link " href="#acasa">Acasa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#despre">Despre</a>
                </li>

                

            </ul>
            <ul class="navbar-nav justify-content-flex-end text-right " >
                <li class="nav-item " id="signIn">

                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </li>
                <li class="nav-item text-right " id="signOut">

                        <a href="#" onclick="signOut();">Sign out</a>
                        <script>
                            function signOut() {
                                var auth2 = gapi.auth2.getAuthInstance();
                                auth2.signOut().then(function () {
                                    console.log('User signed out.');
                                    setViewsforNotLogged()
                                    window.location = "/";
                                });
                            }
                        </script>
                    </li>

            </ul>
            






        </div>
        <script type="text/javascript">
            setViewsforNotLogged()
            var token =<%=accessToken%>
                console.log(token)

            function onSignIn(googleUser) {
                console.log(token);

                if (token == null || token == undefined) {

                    setViewsforNotLogged();
                    var id_token = googleUser.getAuthResponse().id_token;
                    var profile = googleUser.getBasicProfile();

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:3000/tokensignin');
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                    xhr.onload = function () {
                        var response = JSON.parse(xhr.responseText).data

                        window.location = "profile" + response;

                    };
                    xhr.send('idtoken=' + id_token);
                    //console.log("ID Token: " + id_token);
                }
                else {
                    setViewsforLogged()
                }
            }

            function setViewsforNotLogged() {
                document.getElementById("signOut").style.display = "none"
                document.getElementById("signIn").style.display = "flex"
                document.getElementById("menu").style.display = "flex"
            }
            function setViewsforLogged() {
                document.getElementById("signIn").style.display = "none"
                document.getElementById("menu").style.display = "none"
                document.getElementById("signOut").style.display = "block"
                
            }

        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </nav>