<% include partials/header%>
<div style="margin-top:100px" id="adaugaMaterialDiv">

    <form method="POST" enctype="multipart/form-data" action="/uploadFile">
        <label for="numeMaterial" class="col-sm-2 col-form-label">Denumire</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="numeMaterial" placeholder="Denumire" name="nume">
        </div>
        <label for="type" class="col-sm-2 col-form-label" >Tip</label>
        <div class="col-sm-10"style="margin-bottom: 20px">
            <input type="text" class="form-control" id="type" placeholder="Tip" name="type">
        </div>

        <input type="file" name="filename">
        <input type="submit" value="upload">

    </form>
</div>

<% include partials/footer%>