
<% include partials/header%>


    <script>
    document.body.style.background="url(https://images.pexels.com/photos/1558690/pexels-photo-1558690.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed"
    document.body.backgroundSize="cover"
    document.body.backgroundPosition="center";
    
    </script>
    <div class='container' id="acasa">
        <div class='row'>
            <div class='col-lg-12'>
                <div id='continut'>
                    <h1>Aplicatie Web de E-learning</h1>
                    <h3>Organizare si concentrare</h3>
                    <hr>
                    <button class='btn btn-default btn-lg g-signin2' data-onsuccess="onSignIn"></button>

                </div>
            </div>
        </div>
    </div>
    <div class='container' id="despre">

        <div id='continut'>
            <h1>Despre noi</h1>

            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."

            </p>

            <hr>

        </div>

    </div>


    

<%include partials/footer%>

