<% include partials/header%>

<div id="idMaterieStorage"></div>

<div style="display: flex">
    <div class="container-fluid"
        style=" width:30%; height:100% ;margin-left:0; margin-top: 60px; padding: 5px; border-right: 1px solid #999999; ">
        <div class="row " style="margin-left:30px">
            <h4 style="color:black;">Materii</h4>
            <button type="button" class="btn btn-info" onclick="afisareFormular()">Add</button>
            <div class="col-sm-10">


            </div>
        </div>
        <div class="list-group" style=" margin-top:5px" id="lista">


        </div>
        <div class="dropdown-menu dropdown-menu-sm" id="context-menu">
            <a class="dropdown-item" href="#" id="edit" onclick=editeazaMaterie()>Editeaza</a>
            <a class="dropdown-item" href="#" id="delete" onclick="stergeMaterie()">Sterge</a>
        </div>



    </div>
    <div id="materiale" class="container-fluid"
        style="width:70%; height:auto ;margin-left:0; margin-top: 60px; padding: 5px; background-color:red ;display:none ">
        <h3 id="titlu"></h3>
        <div class="row " style="margin-left:20px">
            <h4 style="color:black;">Cursuri</h4>
            <button type="button" class="btn btn-info" style="margin-left:20px"
                onclick="uploadFisierForm()">Adauga</button>

        </div>
        <div class="list-group" style=" margin-top:5px ;margin-left:40px" id="listaCursuri">


        </div>
        <div class="row " style="margin-left:20px">
            <h4 style="color:black;">Teme</h4>
            <button type="button" class="btn btn-info" style="margin-left:20px"
                onclick="uploadFisierForm()">Adauga</button>

        </div>
        <div class="list-group" style=" margin-top:5px ;margin-left:40px" id="listaTeme">


        </div>

    </div>


</div>

<div id="adauga-materie" style="margin-top:50px; display:none; padding:10px;
    background-color: white;border: 3px solid #f1f1f1;"
    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Materie noua</div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            <form id="adaugaFormular" action="/addmaterie" method="POST">
                <div class="form-group row">
                    <label for="inputDenumireMaterie" class="col-sm-2 col-form-label">Denumire</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDenumireMaterie" placeholder="Denumire"
                            name="nume">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="circle-palette" class="col-sm-2 col-form-label">Culoare</label>


                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 ">
                        <input id="circle-palette" type="color" name="culoare">

                    </div>



                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <!-- <button type="submit" class="btn btn-primary" onclick="adaugaMaterie()">Salveaza</button> -->
                        <input type="hidden" name="userid" id="sendUserId">

                        <input type="submit" value="Salveaza" class="btn btn-primary">
                        <button class="btn btn-primary" onclick="closeForm()">Renunta</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>



<div style="margin-top:100px; display:none" id="adaugaMaterialDiv">

    <form method="POST" enctype="multipart/form-data" action="/uploadFile">
        <label for="numeMaterial" class="col-sm-2 col-form-label">Denumire</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="numeMaterial" placeholder="Denumire" name="nume">
        </div>
        <label for="type" class="col-sm-2 col-form-label">Tip</label>
        <div class="col-sm-10" style="margin-bottom: 20px">
            <input type="text" class="form-control" id="type" placeholder="Tip" name="type">
        </div>
        <input type="hidden" name="idMaterie" id="idMaterie">


        <div class="col-sm-10">
            <input type="file" name="filename">
            <input type="submit" value="upload">
        </div>

    </form>
</div>

<script type="text/javascript">

    var idMaterie = document.getElementById("idMaterieStorage").innerHTML;

    function uploadFisierForm(idMaterie) {
        document.getElementById("adaugaMaterialDiv").style.display = "block"
        document.getElementById("idMaterie").value = document.getElementById("idMaterieStorage").innerHTML

    }
    window.onload = afisareMaterii()
    


    //var data;
    function afisareFormular() {
        document.getElementById("adauga-materie").style.display = "block";
    }
    function closeForm() {
        document.getElementById("adauga-materie").style.display = "none";
    }


    document.getElementById("sendUserId").value = token
    var listaAfisata = document.getElementById("lista");
    var listaCursuriAfisata = document.getElementById("listaCursuri")
    var listaTemeAfisata = document.getElementById("listaTeme")

    function afisareCursuri() {

        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'http://localhost:3000/getcursuri/' + idMaterie);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log("primite")
            console.log(JSON.parse(xhr.responseText).data)

            afisareLista(listaCursuriAfisata, JSON.parse(xhr.responseText).data);

        };


        xhr.send();

    }
    function afisareListaCursuri(elem, data) {
        data.forEach(element => {
            var listItem = document.createElement("a");
            //listItem.setAttribute('value',element.name);
            listItem.appendChild(document.createTextNode(element.name));
            listItem.setAttribute("class", "list-group-item list-group-item-action")
            listItem.setAttribute("href", element.path);
            elem.appendChild(listItem);
            listItem.oncontextmenu = function (e) {
                e.preventDefault();
                menu.style.left = e.pageX + 'px';
                menu.style.top = e.pageY + 'px';
                menu.style.display = 'block';
            }

        });
    }
    function afisareTeme() {

        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'http://localhost:3000/getteme/' + idMaterie);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log("primite")
            console.log(JSON.parse(xhr.responseText).data)

            afisareLista(listaTemeAfisata, JSON.parse(xhr.responseText).data);

        };


        xhr.send();

    }
    function afisareListaTeme(elem, data) {
        data.forEach(element => {
            var listItem = document.createElement("a");
            //listItem.setAttribute('value',element.name);
            listItem.appendChild(document.createTextNode(element.name));
            listItem.setAttribute("class", "list-group-item list-group-item-action")
            listItem.setAttribute("href", element.path);
            elem.appendChild(listItem);
            listItem.oncontextmenu = function (e) {
                e.preventDefault();
                menu.style.left = e.pageX + 'px';
                menu.style.top = e.pageY + 'px';
                menu.style.display = 'block';
            }

        });
    }

    function afisareMaterii() {

        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'http://localhost:3000/getmateriiuser/' + token);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            //console.log("primite")
            console.log(JSON.parse(xhr.responseText).data)

            afisareLista(listaAfisata, JSON.parse(xhr.responseText).data);

        };


        xhr.send();

    }



    function afisareLista(elem, data) {
        data.forEach(element => {
            var listItem = document.createElement("a");
            //listItem.setAttribute('value',element.name);
            listItem.appendChild(document.createTextNode(element.name));
            listItem.setAttribute("class", "list-group-item list-group-item-action")
            listItem.setAttribute("href", "#");
            listItem.style.backgroundColor = element.color
            elem.appendChild(listItem);
            listItem.oncontextmenu = function (e) {
                e.preventDefault();
                menu.style.left = e.pageX + 'px';
                menu.style.top = e.pageY + 'px';
                menu.style.display = 'block';
            }
            listItem.onclick = function () {
                document.getElementById("materiale").style.backgroundColor = element.color
                document.getElementById("materiale").style.display = "block";
                document.getElementById("titlu").innerHTML = element.name
                document.getElementById("idMaterieStorage").innerHTML = element._id
                afisareCursuri();
                afisareTeme();
            }
        });
    }

    var menu = document.getElementById('context-menu');
    document.onclick = function (e) {
        menu.style.display = 'none';
    }

    function stergeMaterie(){
        var xhr = new XMLHttpRequest()
        xhr.open('DELETE', 'http://localhost:3000/deletematerie/'+idMaterie);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            
        };


        xhr.send();

    }
</script>
<% include partials/footer%>