#continut{
    text-align: center;
    padding-top:25%;
    padding-bottom: 5%;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr{
    width: 400px;
    border-top: 1px solid #1498c0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
